<p>Bienvenido {{user.name}}</p>
<br>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">TITLE</th>
      <th scope="col">DESCRIPTION</th>
      <th scope="col">PRICE</th>
      <th scope="col">CODE</th>
      <th scope="col">STOCK</th>
      <th scope="col">ACCION</th>
    </tr>
  </thead>
   <tbody>
  {{#each prods}}
    <tr>
      <td>{{this._id}}</td>
      <td>{{this.title}}</td>
      <td>{{this.descripcion}}</td>
      <td>{{this.price}}</td>
      <td>{{this.code}}</td>
      <td>{{this.stock}}</td>
      <td><input type="button" value="Agregar" onclick="addProduct('{{this._id}}')"></td>  
    </tr>

  {{/each}}
</tbody>
</table>
{{#if hasPrevPage}}
    <a href="/api/views/products/?page={{prevPage}}"><button>Anterior</button></a>
    {{/if}}
    {{#if hasNextPage}}
    <a href="/api/views/products/?page={{nextPage}}"><button>Siguiente</button></a>
{{/if}}
<script src="/js/main.js"></script>

